@font-face {
    font-family: 'alex_brushregular';
    src: url('../font/alexbrush-regular-webfont.woff2') format('woff2'),
         url('../font/alexbrush-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latoregular';
    src: url('../font/lato-regular-webfont.woff2') format('woff2'),
         url('../font/lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'fontawesomeregular';
    src: url('../font/fontawesome-webfont.woff2') format('woff2'),
         url('../font/fontawesome-webfont.woff') format('woff'),
         url('../font/fontawesome-webfont.otf') format('otf'),
         url('../font/fontawesome-webfont.eot') format('eot'),
         url('../font/fontawesome-webfont.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'fontawesomeregular';
    src: url('../font/fontawesome-webfont-webfont.woff2') format('woff2'),
         url('../font/fontawesome-webfont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


